.show-image{
    height: 30px;
    cursor: pointer;
    transition: all 1s;
}

.select-input{
    height: 40px;
}

.form-input-img{
    height: 70%;
    width: 70%
}

.order{
    height: 20px;
    width: 20px;
}
.order:hover{
    cursor: pointer;
}

#praise:hover, #commentSubmit:hover{
    cursor: pointer;
}
